$primary-color: #fff5e6;
$secondary-color: #f78e2c;
$third-color: #eae029;
$black-color: #000;
$black2-color: #27231f;
$white-color: #fff;
$white2-color: rgb(130, 130, 130);
$red-color: #8b2f2d;
$blue-color: #213ea7;
$gray-color: #8e8e8e;
$gray-color-2: #cbcbcb;
$gray-color-3: #e1e1e1;
$gray-color-4: #eaeaea;
$gray-color-5: #f6f6f6;
$yellow-color: #f2ff3a;

$fs-12: 0.5em;
$fs-13: 0.7em;
$fs-14: 0.8em;
$fs-15: 0.9em;
$fs-16: 1em;
$fs-18: 1.2em;
$fs-22: 1.4em;
$fs-25: 1.6em;
$fs-30: 2em;
$fs-36: 2.6em;
$fs-40: 3em;
$fs-50: 4em;

$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
