.s-categories {
    margin-top: 3rem;
    .s_kindProduct {
        position: relative;
        cursor: pointer;
        .s_img {
            position: relative;
            overflow: hidden;
            &::after {
                @include afterAndBefore();
                @include posAbsolute("tr", 0, 0);
                background-color: rgba(0, 0, 0, 0.224);
                transition: 0.5s;
            }
        }
        img {
            height: 400px;
        }
        h3 {
            @include posAbsolute("tl", 50%, 50%);
            transform: translate(-50%, -50%);
            font-size: $fs-25;
            color: #fff;
            transition: 0.5s;
        }
    }
}
