.s-fashionYear {
    margin: 2rem 0;
    .s_colection {
        position: relative;
        img {
            width: 70%;
        }
        .s_intro {
            @include posAbsolute("tr", 40%, 10%);
            transform: translateY(-40%);
            h5 {
                font-weight: $fw-300;
                font-size: $fs-18;
                font-style: italic;
                span {
                    margin: 0 0.3rem;
                }
            }
            h2 {
                font-weight: $fw-600;
                font-size: $fs-40;
                margin-bottom: 1.5rem;
                span {
                    display: block;
                    margin-left: 1rem;
                }
            }
            .s_content {
                span {
                    display: block;
                }
            }
        }
    }
}
