.s-footer {
    background-color: $black-color;
    color: $white-color;
    position: relative;
    padding-top: 5em;
    @media (max-width: 575px) {
        padding-top: 2em;
    }
    .s_top {
        border-bottom: 0.1px solid #eeeeee83;
        padding-bottom: 2em;
        @media (max-width: 767px) {
            padding-bottom: 2em;
        }
        .s_childFooter {
            position: relative;
            img {
                width: 40%;
                margin-bottom: 2em;
                filter: invert(1);
            }
            .s_address {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    color: $white2-color;
                }
                i {
                    margin-right: 0.5em;
                    font-size: $fs-16;
                }
                .s_footerText {
                    font-size: $fs-16;
                    @media (max-width: 575px) {
                        font-size: $fs-14;
                    }
                }
            }
            .s_icon {
                a {
                    i {
                        margin-right: 2em;
                        margin-top: 1em;
                        transition: 0.5s;
                        cursor: pointer;
                        color: #eee;
                        &:hover {
                            color: $white2-color;
                        }
                    }
                }
            }
            ul {
                padding-top: 4em;
                @media (max-width: 575px) {
                    padding-top: 2em;
                }
                li {
                    font-size: $fs-16;
                    margin-bottom: 1em;
                    transition: 0.5s;
                    cursor: pointer;
                    &:hover {
                        color: $white2-color;
                    }
                    @media (max-width: 575px) {
                        font-size: $fs-14;
                    }
                }
            }
            h2 {
                padding-top: 3em;
                font-size: $fs-25;
                color: $white-color;
                font-weight: $fw-600;
                text-align: left;
                @media (max-width: 575px) {
                    padding-top: 1em;
                    font-size: $fs-16;
                }
            }

            h5 {
                font-size: $fs-14;
                color: $white-color;
                margin: 1.5em 0;
                @media (max-width: 575px) {
                    margin: 1em 0;
                }
            }
            input {
                background-color: $black-color;
                width: 100%;
                border: none;
                border-bottom: 1px solid $white2-color;
                padding-bottom: 1em;
                outline: none;
                color: #fff;
            }
            .s_letterPaper {
                @include posAbsolute("br", 10px, 10px);
                border: none;
                background-color: transparent;
                color: #fff;
            }
            button {
                i {
                    color: $white2-color;
                }
            }
        }
    }
    .s_bot {
        padding: 0.2em 0 1.2rem 0;
        @include flexBox("center", "between");
        margin: 0 4em;
        @media (max-width: 767px) {
            margin: 0 1em;
            padding: 1em 0;
            justify-content: center;
        }
        h3 {
            font-size: $fs-14;
            color: #fff;
        }
        img {
            width: 25%;
            @media (max-width: 767px) {
                display: none;
            }
        }
    }
    .s_up {
        @include posAbsolute("br", 40px, 20px);
        position: fixed;
        i {
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.1215686275);
            color: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            z-index: 9;
            position: relative;
            width: 50px;
            display: flex;
            height: 50px;
            justify-content: center;
            align-items: center;
        }
    }
}
