.s_top {
    position: relative;
    margin-bottom: 2rem;
    h3 {
        font-size: $fs-16;
        font-weight: $fw-400;
        text-align: center;
        letter-spacing: 0.2rem;
    }
    h2 {
        text-align: center;
        font-size: $fs-30;
        letter-spacing: 0.2rem;
    }
}
