.s_top {
    position: relative;
    margin: 4rem 0 2rem 0;
    h3 {
        font-size: $fs-16;
        font-weight: $fw-400;
        text-align: center;
        letter-spacing: 0.2rem;
    }
    h2 {
        text-align: center;
        font-size: $fs-22;
        letter-spacing: 0.2rem;
    }
}
