.s-question {
    text-align: center;
    margin-top: 2rem;
    h2 {
        text-align: center;
        font-size: $fs-30;
        margin-bottom: 2rem;
        &::after {
            margin: 1rem auto;
            background-color: $secondary-color;
            content: "";
            display: block;
            width: 10%;
            height: 4px;
        }
    }
    .s_form {
        .s_nameAndMail {
            margin: 0 auto;
            width: 81%;
            display: flex;
            gap: 1rem;
            input {
                width: 60%;
                padding: 1rem 0.5rem;
            }
        }
        textarea {
            width: 81%;
            padding: 1rem 0.5rem;
            margin: 1rem 0;
        }
    }
}
